body{
 background-color: #f9f9f9;
 font-family: 'helvetica', sans-serif; 
 font-size: 20px;
}

header{
    text-align: center;
    background-color: #0a3ca1;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

header img{
    border-radius: 300px;
    border: 10px solid #ffffff;
    height: 300px;
    width: 300px;
}

h1{
    font-size: 40px;
    color: white;

}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    padding: 40px;

}

main img{
    max-width: 100%;
}

h2{
    font-size: 30px;
    color: #01465D;
    margin: 0 30px 0 0 ;
    border-left: 10px solid #01465d;
    padding-left: 30px;
}

a{
    color: lightseagreen;
}
a:hover{
    color: #01465d;
}

footer{
    color: #01465d;
    text-align: center;
    padding: 20px;
    background-color: rgb(231, 231, 231);
    max-width: 800px;
    margin: 0 auto;
}

p.caption{
    color: lightgray;
    font-style: italic;
    margin-top: 0;
}